.awesome {
    padding: 15px 0;
}
.title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
.line {
    width: 100px;
    height: 2px;
    background-color: chocolate;
    margin: 30px auto;
}
.title::after {
    content: "";
    width: 120px;
    height: 3px;
    background-color: chocolate;
    display: block;
    margin: 20px auto;
}
.awesome-disc {
    width: 400px;
    text-align: center;
    margin: 30px auto;
}
.awesome-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.awesome-item {
    width: 350px;
}
.awesome-items__img {
    height: 70px;
    width: 70px;
    border: 1px solid chocolate;
    border-radius: 50%;
    margin: auto;
}
.icon_img {
    display: block;
    margin: 20px auto;
}
.awesome-item__title {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.awesome-item__text p {
    text-align: center;
    margin: 30px auto;
}
