.header {
    padding-top: 10px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* vertical-align: middle; */
}
.logo-text {
    font-size: 30px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
}
.nav {
    border: 1px solid blue;
}
.nav-list {
    width: 550px;
    border: 1px solid gray;
    align-content: flex-end;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.nav-list_item {
    width: 100px;
    border: 1px solid gray;
    font-size: 15px;
    display: inline;
    text-align: center;
    text-transform: capitalize;

}