.pricing {
    padding: 80px 0;
}

.title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
.line {
    width: 100px;
    height: 2px;
    background-color: chocolate;
    margin: 30px auto;
}

.pricing-disc {
    width: 400px;
    text-align: center;
    margin: 30px auto;
}

.pricing-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}