.social {
    padding: 15px 0;
}
.social-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.social-row-text {
    width: 300px;
    border: 1px solid cornflowerblue;
    vertical-align: middle;
}
.social-row-item__title {
    font-size: 20px;
    border: 1px solid cornflowerblue;
    text-transform: capitalize;
    text-align: left;    
}
.social-row-item {
    width: 750px;
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
}
.social-row-item__icon {
    width: 50px;
    border: 1px solid yellowgreen; 
    display: inline;
    text-align: center;
}