@import "bg.css";
@import "awesome.css";
@import "header.css";
@import "pricing.css";
@import "transition.css";
@import "social.css";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Open Sans", serif;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 15px 0;
    background-color: bisque;
}