.transition {
    padding: 15px 0;
}
.transition-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 50px;
}
.transition-item {
    width: 300px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
}
.transition-item-block {
    width: 200px;
    /* border: 1px solid gray;  */
    display: block;
    padding: -10px 10px;
    justify-content: space-around;
    margin: auto;
}
.transition-item-block__tab {
    width: 100px;
    height: 100px;
    background-color: black;
    padding: 10px;
    color: blanchedalmond;
    border: 1px solid gray;
    text-transform: uppercase;
    margin: 10px auto;
    position: relative;
}
.tab-content {
    position: absolute;
    font-style: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.transition-item-text {
    width: 600px;
    padding: 10px;
}
.transition-item-text__title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: justify;
}
.transition-item-text__content {
    font-style: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

.transition-item-picture {
    width: 350px;
}
